spring:
  application:
    name: arka-backend
  profiles:
    active: dev
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: "health, info"
  endpoint:
    health:
      show-details: "always"
      probes:
        enabled: true